*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.word{
    text-align: center;
    background-color: darkmagenta;
    color: aliceblue;
}
.holder{
 width: 100%;
 height: 100vh;
 background-color: aqua;
 display: flex;
 justify-content: center;
 align-items: center;
}
.cal{
    background-color: lightskyblue;
    border-radius: 25px;
    padding: 20px;
}
.cal form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(30, 153, 210),5px 5px 15px rgb(210, 30, 171);
    background: black;
    color: white;
    cursor: pointer;
    margin: 10px;
}
/* form .input{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
} */
form .input input{
    color: red;
    display: flex;
    justify-content: flex-end;
    /* margin: px 0; */
    text-align: right;
    width: 315px;
    font-size: 45px;
    box-shadow: none;

}
form input.eq{
    width: 145px;
}